@media (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  button {
    border: none;
  }
  .ph-list-bold {
    display: block;
  }
  .nav {
    display: none;
  }

  header {
    width: 100%;
  }
  .header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .homepage-content {
    position: relative;
    margin-top: 0px;
    padding: 0 20px;
  }
  .popUp,
  .content-popUp {
    display: none;
  }

  .title-description {
    margin-top: 2rem;
    font-size: 18px;
  }

  .heythere {
    font-size: 1.5rem;
    margin-bottom: 2.6rem;
  }

  .homepage-content h1 {
    font-size: 3.8rem;
    line-height: 3.5rem;
    font-family: title-font;
    overflow: hidden;
    color: white;
  }

  .space-not span {
    font-size: 0.9rem;
  }

  .media {
    margin-left: 1rem;
    gap: 15px;
  }

  .showEmailBtn.active {
    top: 1rem;
    right: -1rem;
    height: 2.3rem;
  }

   .media button {
    font-size: 14px;
    padding: 8px 15px 8px 15px;
  }

  .media-2 button {
    font-size: 14px;
    padding: 8px 15px 8px 15px;
  }

  .about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0px 20px;
  }

  .text p {
    font-size: 16px;
  }

  .my-photo {
    margin-left: 0;
    margin-top: 3rem;
  }

  .my-photo img {
    border-radius: 100%;
    filter: saturate(110%);
  }

  .keepInTouch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .keepInTouch h1 {
    font-size: 2.3rem;
  }

  .keepInTouch p {
    font-size: 1.1rem;
    width: 60%;
  }

  .reveal {
    position: relative;
    transform: translateY(10px);
    opacity: 1;
    transition: all 1s ease;
  }

  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }

}
